<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Libraries Stylesheet -->
  <%- include('css-link')%>

    <link rel="stylesheet" href="../css/registration.css">
    <title>NGO | Registration</title>
</head>

<body>
  <!-- Spinner Starts -->
  <%-include('spinner')%>
    <%-include('navbar')%>
      <!-- Spinner Ends -->
      <div class="container">
        <div class="card mt-5 w-75 mx-auto">
          <div class="h-100 d-flex justify-content-center mx-auto align-items-center">
            <div class="py-4 px-3">
              <h4>Signup</h4>
              <div class="row g-2 mt-1">
                <div class="col-md-6">
                  <div class="input-field"> <input class="form-control" id="input1" required>
                    <label for="input1">First Name</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-field"> <input class="form-control" id="input2" required>
                    <label for="input2">Last Name</label>
                  </div>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-md-12">
                  <div class="input-field"> <input class="form-control" id="input3" required>
                    <label for="input3">Email</label>
                  </div>
                </div>
              </div>
              <div class="row mt-2 mb-2">
                <div class="col-md-12">
                  <div class="input-field"> <input class="form-control" id="input4" required>
                    <label for="input4">Wallet Address</label>
                  </div>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-md-12"> <button class="btn btn-primary w-100 signup-button">Signup</button>
                </div>
              </div>
              <div class="member mt-1"> <span>Already a member?</span> <a class="text-decoration-none"
                  href="/ngo/login">Signin</a>
              </div>
            </div>
          </div>
        </div>
        <div class="parallelogram"> <span></span> <span></span> <span></span> </div>
      </div>


      <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
      <script src="lib/wow/wow.min.js"></script>
      <script src="lib/easing/easing.min.js"></script>
      <script src="lib/waypoints/waypoints.min.js"></script>
      <script src="lib/owlcarousel/owl.carousel.min.js"></script>
      <script src="lib/parallax/parallax.min.js"></script>

      <!-- Template Javascript -->
      <script src="js/main.js"></script>
</body>


</html>