<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%-include('css-link')%>
        <link rel="stylesheet" href="/css/registration.css">
        <title>FundChain | User Type</title>
</head>

<body>
    <%-include('spinner')%>
        <%- include('navbar')%>
            <div class="container">
                <div class="row align-items-center" style="min-height:90vh">
                    <div class="card w-auto col-md-12 mt-5  mx-auto align-items-center shadow-lg zoom"
                        style="width: 350px" onclick="">
                        <a href="/ngo/login"> <img src="../img/ngo.png" class="mt-3 zoom" width="300" height="300" />
                            <h6 class="mt-3 zoom text-center">Login as an NGO</h6>
                        </a>
                    </div>
                    <div class="card w-auto col-md-12  mt-5 mx-auto align-items-center shadow-lg zoom"
                        style="width: 350px">
                        <a href="/donor/login"> <img src="../img/donor.png" class="mt-3 zoom" width="300"
                                height="300" />
                            <h6 class="mt-3 zoom text-center">Login as a Donor</h6>
                        </a>
                    </div>
                </div>
            </div>
            <%- include('script')%>
</body>

</html>