<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon_io /logo.png">


<!-- Google Web Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Saira:wght@500;600;700&display=swap"
    rel="stylesheet">

<!-- Icon Font Stylesheet -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

<!-- Libraries Stylesheet -->
<link href="/lib/animate/animate.min.css" rel="stylesheet">
<link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

<!-- Customized Bootstrap Stylesheet -->
<link href="/vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
<link href="/css/bootstrap.css" rel="stylesheet">

<!-- DataTable css -->
<link href="/vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet">

<!-- Template Stylesheet -->
<link rel="stylesheet" href="/vendor/jqvmap/css/jqvmap.min.css">
<link rel="stylesheet" href="/vendor/chartist/css/chartist.min.css">
<link href="/css/dashboard-style.css" rel="stylesheet">
<link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet">
<link href="/vendor/owl-carousel/owl.carousel.css">