<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%-include('dashboard-css-link')%>
        <title>Document</title>
</head>

<body>
    <%-include('spinner')%>
        <div id="main-wrapper" class="show">
            <%- include('header'); -%>
                <%- include('sidebar'); -%>
                    <div class="content-body">
                        <!-- row -->
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h4 class="card-title">NGO Details</h4>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table id="ngoTable" class="display">
                                                    <thead>
                                                        <tr>
                                                            <th>Name</th>
                                                            <th>Email</th>
                                                            <th>Wallet Address</th>
                                                            <th>Description</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <%-include('dashboard-script')%>
                        <script src="/Donor/js/ngo.js"></script>
        </div>
</body>

</html>