<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Libraries Stylesheet -->
  <%- include('css-link')%>

    <link rel="stylesheet" href="../css/registration.css">
    <title>Donor | Registration</title>
</head>

<body>
  <!-- Spinner Starts -->
  <%-include('spinner')%>
    <!-- Spinner Ends -->
    <%-include('navbar')%>
      <div class="container mt-4">
        <div class="card mt-5 w-75 mx-auto">
          <div class="h-100 d-flex justify-content-center mx-auto align-items-center">
            <div class="py-4 px-3">
              <h4>Signup</h4>
              <div class="row mt-1">
                <div class="col-md-6">
                  <div class="input-field"> <input class="form-control" id="firstname-inp" required>
                    <label for="firstname-inp">First Name</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-field"> <input class="form-control" id="lastname-inp" required>
                    <label for="lastname-inp">Last Name</label>
                  </div>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-md-6">
                  <div class="input-field"> <input class="form-control" id="username-inp" required>
                    <label for="username-inp">Username</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-field"> <input class="form-control" id="wallet-inp" required>
                    <label for="wallet-inp">Wallet Address</label>
                  </div>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-md-12">
                  <div class="input-field"> <input class="form-control" id="email-inp" required>
                    <label for="email-inp">Email</label>
                  </div>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-md-4">
                  <div class="input-field"> <input class="form-control" type="number" id="age-inp" required>
                    <label for="age-inp">Age</label>
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="input-field"> <input class="form-control" id="pancard-inp" required>
                    <label for="pancard-inp">Pancard Number</label>
                  </div>
                </div>
              </div>

              <lable class="form-check-label me-2">Gender </lable>


              <div class="form-check form-check-inline mt-3 mb-2">
                <input class="form-check-input" type="radio" name="gender" id="inlineRadio1" value="male">
                <label class="form-check-label" for="inlineRadio1">Male</label>
              </div>


              <div class="form-check form-check-inline  mt-3 mb-2">
                <input class="form-check-input" type="radio" name="gender" id="inlineRadio2" value="female">
                <label class="form-check-label" for="inlineRadio2">Female</label>
              </div>


              <div class="form-check form-check-inline  mt-3 mb-2">
                <input class="form-check-input" type="radio" name="gender" id="inlineRadio3" value="others">
                <label class="form-check-label" for="inlineRadio3">Others</label>

              </div>


              <div class="row mt-3">
                <div class="col-md-12"> <button class="btn btn-primary w-100 signup-button"
                    onclick="signup()">Signup</button>
                </div>
              </div>
              <div class="member mt-1"> <span>Already a member?</span><a class="text-decoration-none"
                  href="/ngo/login">Signin</a>
              </div>
            </div>
          </div>
        </div>
        <div class="parallelogram"> <span></span> <span></span> <span></span> </div>
      </div>


      <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
      <script src="/lib/wow/wow.min.js"></script>
      <script src="/lib/easing/easing.min.js"></script>
      <script src="/lib/waypoints/waypoints.min.js"></script>
      <script src="/lib/owlcarousel/owl.carousel.min.js"></script>
      <script src="/lib/parallax/parallax.min.js"></script>

      <!-- Template Javascript -->
      <script src="/js/main.js"></script>
      <script src="/Donor/js/registration.js"></script>
</body>


</html>