<div class="deznav">
    <div class="deznav-scroll">
        <ul class="metismenu" id="menu">
            <li>
                <a href="dashboard">
                    <i class="flaticon-381-networking"></i>
                    <span class="nav-text">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="profile">
                    <i class="flaticon-381-id-card-5"></i>
                    <span class="nav-text">Profile</span>
                </a>
            </li>
            <li>
                <a href="ngo">
                    <i class="flaticon-381-help "></i>
                    <span class="nav-text">NGO</span>
                </a>
            </li>
            <li>
                <a href="transactions">
                    <i class="flaticon-381-receive"></i>
                    <span class="nav-text">Donation Requests</span>
                </a>
            </li>
        </ul>
    </div>
</div>