<!DOCTYPE html>
<html lang="en">


<!-- xhtml/index.html08:17:22 -->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Dashboard</title>
	<!-- Favicon icon -->
	<%-include('dashboard-css-link')%>
</head>

<body>

	<!--*******************
        Spinner start
    ********************-->
	<%-include('spinner')%>
		<!--*******************
        Spinner end
    ********************-->

		<!--**********************************
        Main wrapper start
    ***********************************-->
		<div id="main-wrapper">

			<!--**********************************
            Nav header start
        ***********************************-->
			<%-include('header')%>
				<!--**********************************
            Nav header end
        ***********************************-->


				<!--**********************************
            Sidebar start
        ***********************************-->
				<%-include('sidebar')%>
					<!--**********************************
            Sidebar end
        ***********************************-->

					<!--**********************************
            Content body start
        ***********************************-->
					<div class="content-body">
						<div class="container-fluid">
							<div class="row">
								<div class="col-xl-6 col-xxl-6 col-lg-6 col-sm-6">
									<div class="card overflow-hidden shadow-lg">
										<div class="card-header border-0 pb-0">
											<div class="mr-auto">
												<h3>Donation Request Approved</h3>
												<h3 id="donationrequestapproved" class="text-black mb-2 font-w600">
													0
												</h3>
											</div>
										</div>
									</div>
								</div>

								<div class="col-xl-6 col-xxl-6 col-lg-6 col-sm-6">
									<div class="card overflow-hidden shadow-lg">
										<div class="card-header border-0 pb-0">
											<div class="mr-auto">
												<h3>Number of Donation Requested</h3>
												<h3 id="numberofdonationrequest" class="text-black mb-2 font-w600">
													0
												</h3>
											</div>
										</div>
									</div>
								</div>


								<div class="col-xl-6 col-xxl-6 col-lg-6 col-sm-6">
									<div class="card overflow-hidden shadow-lg">
										<div class="card-header border-0 pb-0">
											<div class="mr-auto">
												<h3>Donation Requests Reported</h3>
												<h3 id="donationrequestsreported" class="text-black mb-2 font-w600">
													0
												</h3>
											</div>
										</div>
									</div>
								</div>


								<div class="col-xl-6 col-xxl-6 col-lg-6 col-sm-6">
									<div class="card overflow-hidden shadow-lg">
										<div class="card-header border-0 pb-0">
											<div class="mr-auto">
												<h3>Total Donation Received</h3>
												<h3 id="totaldonationreceived" class="text-black mb-2 font-w600">
													0
												</h3>
											</div>
										</div>
									</div>
								</div>

								<div class="col-xl-12 col-xxl-12 col-lg-12">
									<div class="card">
										<div class="card-header d-sm-flex d-block pb-0 border-0">
											<div>
												<h4 class="text-black fs-20">
													Total User
												</h4>
											</div>
										</div>
										<div class="card-body" id="user-activity">
											<div class="tab-content" id="myTabContent">
												<div class="tab-pane fade show active" id="user" role="tabpanel">
													<canvas id="activityLine" height="350"></canvas>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!--**********************************
            Content body end
        ***********************************-->






		</div>
		<!--**********************************
        Main wrapper end
    ***********************************-->

		<!--**********************************
        Scripts
    ***********************************-->
		<!-- Required vendors -->
		<%-include('dashboard-script')%>
			<script src="/NGO/js/dashboard.js"></script>
</body>

<!-- xhtml/index.html08:18:50 -->

</html>