<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%-include('dashboard-css-link')%>
        <title>Donor | Profile</title>
</head>

<body>
    <%-include('spinner')%>
        <div id="main-wrapper" class="show">
            <%- include('header'); -%>
                <%- include('sidebar'); -%>
                    <div class="content-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xl-6 col-xxl-12">
                                    <div class="row">
                                        <div class="col-xl-12 col-lg-12">
                                            <div class="card w-100 align-items-center shadow-lg ">
                                                <div class="card-header border-0 pb-0 ">
                                                    <div>
                                                        <h2 class="text-black mx-auto text-center mb-4">
                                                            Request for Donation
                                                        </h2>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-xxl-12">
                                    <div class="row">
                                        <div class="col-xl-12 col-lg-12">
                                            <div class="card shadow-lg">
                                                <div
                                                    class="card-header border-0 d-xl-flex d-lg-block d-md-flex d-sm-flex d-block">
                                                    <div class="mr-2">
                                                        <h4 class="fs-20 text-black">
                                                            Request
                                                        </h4>
                                                    </div>
                                                </div>
                                                <div class="card-body tab-content card-table">
                                                    <div class="form-validation">
                                                        <form class="form-valide" id="edit-profile">
                                                            <div class="row">
                                                                <div class="col-xl-12">
                                                                    <div class="form-group row">
                                                                        <label class="col-lg-4 col-form-label"
                                                                            for="edit_firstname">Description For
                                                                            Donation
                                                                            <span class="text-danger">*</span>
                                                                        </label>
                                                                        <div class="col-lg-6">
                                                                            <textarea class="form-control"
                                                                                id="description" name="edit_ngoname"
                                                                                placeholder="Description"></textarea>

                                                                            <div id="firstname-error"
                                                                                class="invalid-feedback animated fadeInUp">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <label class="col-lg-4 col-form-label"
                                                                            for="edit_email">Total Fund Requirement
                                                                        </label>
                                                                        <div class="col-lg-6">
                                                                            <input type="number" class="form-control"
                                                                                id="totalfundrequire" name="edit_email"
                                                                                placeholder="Amount" />
                                                                            <div id="email-error"
                                                                                class="invalid-feedback animated fadeInUp">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <div class="col-lg-8 ml-auto">
                                                                            <button type="button" id="editProfile"
                                                                                class="btn btn-primary"
                                                                                onclick="requestfordonation()">
                                                                                Submit
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        </div>

        <%-include('dashboard-script')%>

            <script src="/NGO/js/donationrequest.js"></script>
</body>

</html>