<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%-include('css-link')%>
        <link rel="stylesheet" href="/css/registration.css">
        <title>NGO | Login</title>
</head>

<body>
    <!-- Spinner Starts -->
    <%-include('spinner')%>
        <!-- Spinner Ends -->
        <!-- Navbar Starts -->
        <%- include('navbar')%>
            <!-- Navbar Stop -->
            <div class="container">
                <div class="row align-items-center pd-3" style="min-height: 90vh">
                    <div class="card col-md-12 mt-5 mx-auto align-items-center shadow-lg zoom" style="width: 350px"
                        onclick="connectwallet()">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/36/MetaMask_Fox.svg/800px-MetaMask_Fox.svg.png"
                            class="zoom" width="300" height="300" />
                    </div>
                </div>
            </div>


            <%-include('script')%>
                <script src="/NGO/js/login.js"></script>
</body>


</html>