<div class="container-fluid fixed-top px-5 wow fadeIn bg-dark shadow" data-wow-delay="0.1s">

    <nav class="navbar navbar-expand-lg navbar-dark py-lg-0 px-lg-5 wow fadeIn" data-wow-delay="0.1s">
        <a href="/" class="navbar-brand ms-4 ms-lg-0">
            <h1 class="fw-bold text-primary m-0">Fund<span class="text-white">Chain</span></h1>
        </a>

        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a href="/" class="nav-item nav-link active">Home</a>


            <button id="connect-btn" class="btn btn-primary my-3" onclick="gotologinpage()">Connect Wallet</button>
            <button id="disconnect-btn" class="btn btn-danger my-3" onclick="disconnectwallet()"
                style="display: none;">Disconnect
                Wallet</button>

            </a>
        </div>

    </nav>
</div>