<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%-include('dashboard-css-link')%>
        <title>Donor | Profile</title>
</head>

<body>
    <%-include('spinner')%>
        <div id="main-wrapper" class="show">
            <%- include('header'); -%>
                <%- include('sidebar'); -%>
                    <div class="content-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xl-6 col-xxl-12">
                                    <div class="row">
                                        <div class="col-xl-12 col-lg-12">
                                            <div class="card w-100 align-items-center shadow-lg ">
                                                <div class="card-header border-0 pb-0 ">
                                                    <div>
                                                        <h2 class="text-black mx-auto text-center mb-4">
                                                            My Profile
                                                        </h2>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-xxl-12">
                                    <div class="row">
                                        <div class="col-xl-12 col-lg-12">
                                            <div class="card shadow-lg">
                                                <div
                                                    class="card-header border-0 d-xl-flex d-lg-block d-md-flex d-sm-flex d-block">
                                                    <div class="mr-2">
                                                        <h4 class="fs-20 text-black">
                                                            Edit Profile
                                                        </h4>
                                                    </div>
                                                </div>
                                                <div class="card-body tab-content card-table">
                                                    <div class="form-validation">
                                                        <form class="form-valide" id="edit-profile">
                                                            <div class="row">
                                                                <div class="col-xl-12">
                                                                    <div class="form-group row">
                                                                        <label class="col-lg-4 col-form-label"
                                                                            for="edit_firstname">NGO Name
                                                                            <span class="text-danger">*</span>
                                                                        </label>
                                                                        <div class="col-lg-6">
                                                                            <input type="text" class="form-control"
                                                                                id="edit_ngoname" name="edit_ngoname"
                                                                                placeholder="NGO Name" />
                                                                            <div id="firstname-error"
                                                                                class="invalid-feedback animated fadeInUp">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <label class="col-lg-4 col-form-label"
                                                                            for="edit_email">Email
                                                                        </label>
                                                                        <div class="col-lg-6">
                                                                            <input type="text" class="form-control"
                                                                                id="edit_email" name="edit_email"
                                                                                placeholder="Email" />
                                                                            <div id="email-error"
                                                                                class="invalid-feedback animated fadeInUp">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <label class="col-lg-4 col-form-label"
                                                                            for="edit_email">Description
                                                                        </label>
                                                                        <div class="col-lg-6">
                                                                            <input type="text" class="form-control"
                                                                                id="edit_description"
                                                                                name="edit_description"
                                                                                placeholder="Description" />
                                                                            <div id="email-error"
                                                                                class="invalid-feedback animated fadeInUp">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <label class="col-lg-4 col-form-label"
                                                                            for="edit_walletaddress">Wallet
                                                                            Address
                                                                            <span class="text-danger">*</span>
                                                                        </label>
                                                                        <div class="col-lg-6">
                                                                            <input type="text" class="form-control"
                                                                                id="edit_walletaddress"
                                                                                name="edit_walletaddress"
                                                                                placeholder="Wallet Address" />
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <label class="col-lg-4 col-form-label"
                                                                            for="edit_pancard"> Pancard Number
                                                                            <span class="text-danger">*</span>
                                                                        </label>
                                                                        <div class="col-lg-6">
                                                                            <input type="text" class="form-control"
                                                                                id="edit_pancard" name="edit_pancard"
                                                                                placeholder="Pancard Number" />
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <div class="col-lg-8 ml-auto">
                                                                            <button type="button" id="editProfile"
                                                                                class="btn btn-primary"
                                                                                onclick="editprofile()">
                                                                                Submit
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        </div>

        <%-include('dashboard-script')%>
            <script src="/NGO/js/profile.js"></script>

</body>

</html>