<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Libraries Stylesheet -->
  <%- include('css-link')%>

    <link rel="stylesheet" href="/css/registration.css">
    <title>Donor | Registration</title>
</head>


<!-- // {
//     "sNgoName": "ABC.pvt.ltd",
//     "sWalletAddress": "0x07526ce069b1e371d40afb811c4636d23563b8be",
//     "sEmail": "abc@gmail.com",
//     "sDiscription": "this is demo ngo",
//     "sPanCardNumber": "ABCDE1234",
//     "sAccountStatus": "unblock"
// } -->

<body>
  <!-- Spinner Starts -->
  <%-include('spinner')%>
    <!-- Spinner Ends -->
    <%-include('navbar')%>
      <div class="container mt-4">
        <div class="card w-50 mx-auto mt-5 ">
          <div class="h-100 w-100 d-flex justify-content-center ">
            <div class="py-4 px-3">
              <h4>NGO Registration</h4>
              <div class="row mt-1">
                <div class="col-md-12">
                  <div class="input-field"> <input class="form-control" id="ngoname-inp" required>
                    <label for="ngoname-inp">NGO Name</label>
                  </div>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-md-12">
                  <div class="input-field"> <input class="form-control" id="wallet-inp" required>
                    <label for="wallet-inp">Wallet Address</label>
                  </div>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-md-12">
                  <div class="input-field"> <input class="form-control" id="email-inp" required>
                    <label for="email-inp">Email</label>
                  </div>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-md-12">
                  <div class="input-field"> <input class="form-control" id="description-inp" required>
                    <label for="description-inp">Description</label>
                  </div>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-md-12">
                  <div class="input-field"> <input class="form-control" id="pancard-inp" required>
                    <label for="pancard-inp">Pancard Number</label>
                  </div>
                </div>
              </div>

              <div class="row mt-3">
                <div class="col-md-12"> <button class="btn btn-primary w-100 signup-button"
                    onclick="signup()">Signup</button>
                </div>
              </div>
              <div class="member mt-1"> <span>Already a member?</span><a class="text-decoration-none"
                  href="/ngo/login">Signin</a>
              </div>
            </div>
          </div>
        </div>
        <div class="parallelogram"> <span></span> <span></span> <span></span> </div>
      </div>


      <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
      <script src="/lib/wow/wow.min.js"></script>
      <script src="/lib/easing/easing.min.js"></script>
      <script src="/lib/waypoints/waypoints.min.js"></script>
      <script src="/lib/owlcarousel/owl.carousel.min.js"></script>
      <script src="/lib/parallax/parallax.min.js"></script>

      <!-- Template Javascript -->
      <script src="/js/main.js"></script>
      <script src="/NGO/js/registration.js"></script>
</body>


</html>